@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#pcspec {
    background: linear-gradient(90deg, #fff 0, #d3d3d3 25%, #181818 50%, #c7c7c7 75%, #292929 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s linear infinite rgbAnimation
}

@keyframes rgbAnimation {

    0%,
    100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 100%
    }
}

body {
    background-color: #000;
}

.nav-bar img {
    margin-right: 20px;
}

.login-button {
    margin-left: 20px;
}

.logo img {
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    max-width: 30px;
    transition: transform 0.6s ease-in-out;
}

.logo img:hover {
    transform: rotate(360deg);
}

.nav-bar{
    margin-top: 7px;
}

.nav-list li a {
    font-size: 16px;
    font-weight: 550;
    font-style: normal;
}

.nav-list li {
    position: relative;
}

.nav-list li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1.3px;
    background-color: #fff;
    transition: width .3s;
    transform: translateX(-50%)
}

.nav-list li a:hover::after {
    width: 100%;
}



.preloader {
    position: fixed;

}

header {
    align-items: center;
    background-color: #24252a00;
}

.nav-bar {
    display: flex;
    flex-direction: row;  /* Já está correto, os itens ficam em linha */
    justify-content: center;  /* Centraliza os itens horizontalmente */
    align-items: center;  /* Centraliza os itens verticalmente */
    padding: 0.5rem 6rem;
}

/* Estilo para o preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease-out, visibility 0s 1.5s; /* Fade-out suave */
}

.preloader img {
    width: 90px;
    animation: 2s forwards spin, 2s 2s forwards fadeout;
}

/* Animação para o giro da imagem */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animação de fade-out para o preloader */
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Classe que será aplicada ao preloader para ocultá-lo */
.preloader.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease-in, visibility 0s 1.5s; /* Fade-out suave */
}


.nav-list {
    transition: opacity 1.5s ease-in
}

body.loaded {
    overflow: auto
}


.logo img {
    color: #fff;
    width: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    width: 110px;
    height: 40px;
    margin-left: 20px;
    
    border: none;
    color: #ffffff;
    border: 2px solid #ffffff;


    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(0, 132, 255, 0), rgba(0, 0, 0, 0.322));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: .5s;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #ffffff;
    color: #000000;

    transition: .7s;
}

.login-button button a:hover {
    background-color: #ffffff;

    transition: .7s;
}

.login-button button:hover p {
    color: #000;

    transition: .5s;
}


@media screen and (max-width: 1120px) {

    .nav-bar img {
        margin-right: 50px;
    }

    .nav-bar img {
        margin-left: 50px;
    }

    .login-button button {
        width: 70px;
        height: 60px;
    }

}

@media screen and (max-width: 1088px) {
    .nav-bar img {
        margin-right: 190px;
    }

    .nav-bar img {
        margin-left: 190px;
    }
}

@media screen and (max-width: 500px) {
    .nav-bar img {
        margin-right: 50px;
    }

    .nav-bar img {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1022px) {

    .login-button button{
        margin: 0 5px;
    }

    .login-button button {
        width: 70px;
        height: 60px;
        
        border: none;
        color: #ffffff;
        border: 2px solid #ffffff;
    
    
        font-weight: 600;
        font-size: 15px;
        padding: 10px;
        border-radius: 20px;
        background: linear-gradient(135deg, rgba(0, 132, 255, 0), rgba(0, 0, 0, 0.322));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: .5s;
        cursor: pointer;
    }

    .login-button button:hover {
        background-color: #ffffff;
    
        transition: .7s;
    }
    
    .login-button button a:hover {
        background-color: #ffffff;
    
        transition: .7s;
    }
    
    .login-button button:hover p {
        color: #000;
    
        transition: .5s;
    }
}

.mobile-menu-icon {
    display: none;
    transition: .2s;
}

.mobile-menu {
    display: none;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    transition: .5s;

    z-index: 99999999999999999;

}

@media screen and (max-width: 1088px) {
    .nav-bar {
        padding: 1.5rem 4rem;
        transition: .5s;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.text-container {
    background: linear-gradient(90deg, #fff 0, #d3d3d3 25%, #181818 50%, #c7c7c7 75%, #292929 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s linear infinite rgbAnimation
}

@keyframes rgbAnimation {

    0%,
    100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 100%
    }
}

.overlay {
    background: rgba(0, 0, 0, .6)
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center
}

.center-text {
    font-size: 50px;
    color: #fff;
    margin: 0
}

.subtext {
    font-size: 25px;
    color: #fff;
    margin-top: 10px;
    font-weight: 700
}

.discord-link {
    transition: color .3s
}

.discord-link i {
    margin-right: -5px;
    margin-top: -3px;
    font-size: 25px;
    vertical-align: middle
}

::-webkit-scrollbar {
    display: none
}

@keyframes gradientAnimation {

    0%,
    100% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }
}

.bbb h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 10px;
    margin: 40px;
}

#title-dw {
    background: linear-gradient(90deg, #fff 0, #d3d3d3 25%, #181818 50%, #c7c7c7 75%, #292929 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s linear infinite rgbAnimation
}

@keyframes rgbAnimation {

    0%,
    100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 100%
    }
}

@media screen and (max-width: 500px) {
    .bbb h2 {
        font-size: 25px;
    }
}

.pai {
    flex-direction: row;
    flex-wrap: wrap;

    display: flex;
    justify-content: center;

    margin: 100%px;
    margin-top: 50px;

    background-color: rgba(127, 255, 212, 0);

    gap: 2%;
}

.filho {
    flex-direction: row;
    flex-wrap: wrap;

    display: flex;
    justify-content: center;

    margin: 100%px;
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;

    background-color: rgba(127, 255, 212, 0);

    gap: 2%;
}

.filho2 {
    flex-direction: row;
    flex-wrap: wrap;

    display: flex;
    justify-content: center;

    margin: 100%px;
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;

    background-color: rgba(127, 255, 212, 0);

    gap: 2%;
}

.cardrz {
    margin-top: 20px;

    background: linear-gradient(135deg, hsla(0, 0%, 100%, 0.322), rgba(0, 0, 0, 0.322));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid #ffffff52;

    width: 200px;
    height: 270px;
    border-radius: 12px;
}

.cardrz {
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 270px;
    border-radius: 12px;
    border: 1px solid #ffffff52;
    overflow: hidden;
}

.cardrz::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #292929, #505050, #292929);
    background-size: 200% 200%;
    animation: gradientAnimation 6s ease-in-out infinite;
    z-index: -1;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cardrz-content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
}

.cardrz img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.cardrz div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}

.cardrz h1 {
    margin: 10px;
    font-size: 1rem;
    color: #ffffff;
}

.cardrz span {
    margin: -4px;
    color: #b6b6b6;
}

.cardrz a {
    margin-top: 20px;
}

/* button */
.btn {
    margin top: -80px;
    padding: 8px 15px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 60px;
}

.btn {
    font-size: 13px;
}

.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 105%;
    height: 100%;
    background-color: #000000;
    left: 0;
    top: 0;
    border-radius: 60px;
}

/* glow */
.btn::before {
    content: "";
    background: linear-gradient(45deg,
            #FF0000, #FF7300, #FFFB00, #48FF00,
            #00FFD5, #002BFF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover */
.btn:hover::before {
    opacity: 1;
}

.btn:active:after {
    background: transparent;
}

.btn:active {
    color: #000;
    font-weight: bold;
}

#next,
.btn,
.cardrz,
.cardrz img,
.cardrz h1,
.cardrz span {
    opacity: 0;
    animation: 2.5s ease-in-out forwards fadeInOpacity
}

.filho {
    animation: .5s forwards fadeOut, .5s forwards scaleDown
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
        transform: scale(.8)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}


/*** VON: RZHARO D. JESUS ***/


.cardrz2 {
    margin-top: 90px;

    background-color: #00000000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    width: 200px;
    height: 70px;
    border-radius: 12px;
}

.cardrz2 img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.cardrz2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}

.cardrz2 h1 {
    margin: 10px;
    font-size: 1.2rem;
    color: #ffffff;
}

.cardrz2 span {
    margin: -4px;
    color: #b6b6b6;
}

.cardrz2 a {
    margin-top: 20px;
}


/******************* COMUNIDADE *******************/

/******************* /COMUNIDADE *******************/





/*** VON: RZHARO D. JESUS ***/