@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#pcspec {
    background: linear-gradient(90deg, #fff 0, #d3d3d3 25%, #181818 50%, #c7c7c7 75%, #292929 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s linear infinite rgbAnimation
}

@keyframes rgbAnimation {

    0%,
    100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 100%
    }
}

body {
    height: 100vh;
    background-image: url(../img/menu_rzstyle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo img {
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    max-width: 30px;
    transition: transform 0.6s ease-in-out;
}

.logo img:hover {
    transform: rotate(360deg);
}

.nav-list li a {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}

.nav-list li {
    position: relative;
}

.nav-list li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1.6px;
    background-color: #fff;
    transition: width .5s;
    transform: translateX(-50%)
}

.nav-list li a:hover::after {
    width: 100%;
}



.preloader {
    position: fixed;

}

header {
    align-items: center;
    background-color: #24252a00;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem 6rem;
}

/* Estilo para o preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease-out, visibility 0s 1.5s; /* Fade-out suave */
}

.preloader img {
    width: 90px;
    animation: 2s forwards spin, 2s 2s forwards fadeout;
}

/* Animação para o giro da imagem */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animação de fade-out para o preloader */
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Classe que será aplicada ao preloader para ocultá-lo */
.preloader.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease-in, visibility 0s 1.5s; /* Fade-out suave */
}


.nav-list {
    transition: opacity 1.5s ease-in
}

body.loaded {
    overflow: auto
}


.logo img {
    color: #fff;
    width: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    color: #ffffff;
    border: 1px solid #ffffff;


    font-weight: 600;
    padding: 10px 40px;
    border-radius: 50px;
    background: linear-gradient(135deg, rgba(0, 132, 255, 0), rgba(0, 13, 41, 0.322));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: .5s;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #ffffff;

    transition: .7s;
}

.login-button button a:hover {
    background-color: #ffffff;

    transition: .7s;
}

.login-button button:hover p {
    color: #000;

    transition: .5s;
}

@media screen and (max-width: 1022px) {

    .login-button button {
        border: none;
        color: #ffffff;
        border: 1px solid #ffffff;
    
    
        font-weight: 600;
        padding: 10px 40px;
        border-radius: 50px;
        background: linear-gradient(135deg, rgba(0, 13, 41, 0.637), rgba(0, 13, 41, 0.322));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: .5s;
        cursor: pointer;
    }

    .login-button button:hover {
        background-color: #ffffff;
    
        transition: .7s;
    }
    
    .login-button button a:hover {
        background-color: #ffffff;
    
        transition: .7s;
    }
    
    .login-button button:hover p {
        color: #000;
    
        transition: .5s;
    }
}

.mobile-menu-icon {
    display: none;
    transition: .2s;
}

.mobile-menu {
    display: none;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    transition: .5s;

    z-index: 99999999999999999;

}

@media screen and (max-width: 1110px) {
    .nav-bar {
        padding: 1.5rem 4rem;
        transition: .5s;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.text-container {
    background: linear-gradient(90deg, #fff 0, #d3d3d3 25%, #181818 50%, #c7c7c7 75%, #292929 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s linear infinite rgbAnimation
}

@keyframes rgbAnimation {

    0%,
    100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 100%
    }
}

.overlay {
    background: rgba(0, 0, 0, .6)
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center
}

.center-text {
    font-size: 50px;
    color: #fff;
    margin: 0
}

.subtext {
    font-size: 25px;
    color: #fff;
    margin-top: 10px;
    font-weight: 700
}

.discord-link {
    transition: color .3s
}

.discord-link i {
    margin-right: -5px;
    margin-top: -3px;
    font-size: 25px;
    vertical-align: middle
}

::-webkit-scrollbar {
    display: none
}

@keyframes gradientAnimation {

    0%,
    100% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }
}

@media screen and (max-width: 500px) {
    .center-text {
        font-size: 40px;
    }
}


/*** VON: RZHARO D. JESUS ***/

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

.round-button:hover {
    background: linear-gradient(135deg, rgba(44, 117, 185, 0), rgba(255, 255, 255, 0.205));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: float 1s ease-in-out infinite;
}

.containermusic {
    position: fixed; /* Fixa o contêiner na tela */
    bottom: 30px; /* Distância do fundo da tela */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Compensa a largura do contêiner para centralizar */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 100%;
    z-index: 999; /* Garante que o botão fique sobre outros elementos */
}

.round-button {
    width: 80px; /* Tamanho do botão */
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(0, 132, 255, 0), rgba(0, 13, 41, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    font-size: 40px; /* Tamanho do ícone */
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.8s ease;
}

.round-button:hover {
    background: linear-gradient(135deg, rgba(44, 117, 185, 0), rgba(255, 255, 255, 0.205));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
     /* Cor do botão ao passar o mouse */
}

.fas.fa-music {
    font-size: 35px;
}
