@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#pcspec {
    background: linear-gradient(90deg, #fff 0, #d3d3d3 25%, #181818 50%, #c7c7c7 75%, #292929 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s linear infinite rgbAnimation
}

@keyframes rgbAnimation {

    0%,
    100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 100%
    }
}

body {
    background-color: #000;
}

.nav-bar img {
    margin-right: 20px;
}

.login-button {
    margin-left: 20px;
}

.logo img {
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    max-width: 30px;
    transition: transform 0.6s ease-in-out;
}

.logo img:hover {
    transform: rotate(360deg);
}

.nav-bar{
    margin-top: 7px;
}

.nav-list li a {
    font-size: 16px;
    font-weight: 550;
    font-style: normal;
}

.nav-list li {
    position: relative;
}

.nav-list li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1.3px;
    background-color: #fff;
    transition: width .3s;
    transform: translateX(-50%)
}

.nav-list li a:hover::after {
    width: 100%;
}



.preloader {
    position: fixed;

}

header {
    align-items: center;
    background-color: #24252a00;
}

.nav-bar {
    display: flex;
    flex-direction: row;  /* Já está correto, os itens ficam em linha */
    justify-content: center;  /* Centraliza os itens horizontalmente */
    align-items: center;  /* Centraliza os itens verticalmente */
    padding: 0.5rem 6rem;
}

/* Estilo para o preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease-out, visibility 0s 1.5s; /* Fade-out suave */
}

.preloader img {
    width: 90px;
    animation: 2s forwards spin, 2s 2s forwards fadeout;
}

/* Animação para o giro da imagem */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animação de fade-out para o preloader */
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Classe que será aplicada ao preloader para ocultá-lo */
.preloader.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease-in, visibility 0s 1.5s; /* Fade-out suave */
}


.nav-list {
    transition: opacity 1.5s ease-in
}

body.loaded {
    overflow: auto
}


.logo img {
    color: #fff;
    width: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    width: 110px;
    height: 40px;
    margin-left: 20px;
    
    border: none;
    color: #ffffff;
    border: 2px solid #ffffff;


    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(0, 132, 255, 0), rgba(0, 0, 0, 0.322));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: .5s;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #ffffff;
    color: #000000;

    transition: .7s;
}

.login-button button a:hover {
    background-color: #ffffff;

    transition: .7s;
}

.login-button button:hover p {
    color: #000;

    transition: .5s;
}


@media screen and (max-width: 1120px) {

    .nav-bar img {
        margin-right: 50px;
    }

    .nav-bar img {
        margin-left: 50px;
    }

    .login-button button {
        width: 70px;
        height: 60px;
    }

}

@media screen and (max-width: 1088px) {
    .nav-bar img {
        margin-right: 190px;
    }

    .nav-bar img {
        margin-left: 190px;
    }
}

@media screen and (max-width: 500px) {
    .nav-bar img {
        margin-right: 50px;
    }

    .nav-bar img {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1022px) {

    .login-button button{
        margin: 0 5px;
    }

    .login-button button {
        width: 70px;
        height: 60px;
        
        border: none;
        color: #ffffff;
        border: 2px solid #ffffff;
    
    
        font-weight: 600;
        font-size: 15px;
        padding: 10px;
        border-radius: 20px;
        background: linear-gradient(135deg, rgba(0, 132, 255, 0), rgba(0, 0, 0, 0.322));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: .5s;
        cursor: pointer;
    }

    .login-button button:hover {
        background-color: #ffffff;
    
        transition: .7s;
    }
    
    .login-button button a:hover {
        background-color: #ffffff;
    
        transition: .7s;
    }
    
    .login-button button:hover p {
        color: #000;
    
        transition: .5s;
    }
}

.mobile-menu-icon {
    display: none;
    transition: .2s;
}

.mobile-menu {
    display: none;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    transition: .5s;

    z-index: 99999999999999999;

}

@media screen and (max-width: 1088px) {
    .nav-bar {
        padding: 1.5rem 4rem;
        transition: .5s;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.text-container {
    background: linear-gradient(90deg,#fff 0,#d3d3d3 25%,#181818 50%,#c7c7c7 75%,#292929 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s linear infinite rgbAnimation
}

@keyframes rgbAnimation {
    0%,100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 100%
    }
}

.overlay {
    background: rgba(0,0,0,.6)
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    text-align: center
}

.center-text {
    font-size: 50px;
    color: #fff;
    margin: 0
}

.subtext {
    font-size: 25px;
    color: #fff;
    margin-top: 10px;
    font-weight: 700
}

.discord-link {
    transition: color .3s
}

.discord-link i {
    margin-right: -5px;
    margin-top: -3px;
    font-size: 25px;
    vertical-align: middle
}

::-webkit-scrollbar {
    display: none
}

@keyframes gradientAnimation {
    0%,100% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }
}

.slider{
    top: -10px;
    position: relative;
    width: 100%;
    height: 470px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.item{
    position: absolute;
    width: 600px;
    height: 220px;
    text-align: justify;
    background-color: #ffffff00;
    border-radius: 10px;
    
    transition: 0.5s;
    left: calc(50% - 250px);
    top: 90px;
}

.item img{
    margin-top: -20px;
    width: 460px;
    height: 260px;

    border-radius: 10px;
}

#next, #prev{
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    left: 100px;

    z-index: 99999999;
}
#next{
    left: unset;
    right: 100px;

    z-index: 99999999;
}

/*=============== ESTILO DO HERO ===============*/

section.hero-site {
    width: 100%;
    
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 1px;
}

.hero-site .interface {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {
    font-size: 4em;
    line-height: 50px;
    font-weight: 200;
}

.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p span {
    display: block;
}

@media screen and (max-width: 900px) {

    .item{
        position: absolute;
        width: 600px;
        height: 220px;
        text-align: justify;
        background-color: #ffffff00;
        border-radius: 10px;
        
        transition: 0.5s;
        left: calc(50% - 250px);
        top: 90px;
    }
    
    .item img{
        margin-left: 30px;
        margin-top: -20px;
        width: 460px;
        height: 260px;
    
        border-radius: 10px;
    }

    #next, #prev{
        left: 50px;
        z-index: 99999999;
    }
    #next{
        left: unset;
        right: 50px;
    
        z-index: 99999999;
    }

}

@media screen and (max-width: 830px) {
    .item img{
        margin-left: 30px;
        margin-top: 20px;
        width: 360px;
        height: 190px;
    }

    .item{
        position: absolute;
        width: 600px;
        height: 220px;
        text-align: justify;
        background-color: #ffffff00;
        border-radius: 10px;
        
        transition: 0.5s;
        left: calc(57% - 250px);
        top: 90px;
    }
}

@media screen and (max-width: 640px) {
    .item img{
        margin-left: 30px;
        width: 360px;
        height: 190px;
    }

    .item{
        width: 600px;
        height: 220px;
        
        left: calc(57% - 250px);
        top: 90px;
    }
}

@media screen and (max-width: 490px) {
    .item img{
        margin-left: 100px;
        margin-top: 35px;
        width: 250px;
        height: 150px;
    }

    .item{
        width: 600px;
        height: 220px;
        
        left: calc(57% - 250px);
        top: 90px;
    }

    #next, #prev{
        left: 20px;
        z-index: 99999999;
    }
    #next{
        left: unset;
        right: 20px;
    
        z-index: 99999999;
    }
}

.hero-site h2 {
    font-size: 44px;
    margin-top: 40px;
}

@media screen and (max-width: 490px) {
    .hero-site h2 {
        font-size: 30px;
        margin-top: 90px;
    }

    .slider{
        top: -60px;
    }
}


#title {
    background: linear-gradient(90deg,#fff 0,#d3d3d3 25%,#181818 50%,#c7c7c7 75%,#292929 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s linear infinite rgbAnimation
}

@keyframes rgbAnimation {
    0%,100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 100%
    }
}

.slider:hover,.slider:hover {
    transform: rotate(360deg)
}

.slider::before {
    content: '';
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    transition: opacity .3s;
    pointer-events: none
}

#next,#prev,.item img {
    opacity: 0;
    animation: 2.5s ease-in-out forwards fadeInOpacity
}

.item {
    animation: .5s forwards fadeOut,.5s forwards scaleDown
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
        transform: scale(.22)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

/*** VON: RZHARO D. JESSUS ***/